h1{
    color: #9b74dc;
    left: 0px;
    margin-top: 25px;
    width: 100%;

}

div#form {
    border: 1px solid lightgrey;
    border-radius: 2px;
    border-width: 2px;

}
div#form > div {
    background-color: aliceblue;
    margin: 10px;
    padding: 7px;
}